<div class="container">
    <h2>Cat, Hobbies, and Interests!</h2>
    <div class="row d-flex">
      <div class="col-md-6 d-flex">
        <div class="image-container">
          <img src=" /assets/packers.png" alt="Image 3" class="img-fluid" style="box-shadow: 10px 5px 5px green;">
          <p>There's a reason why the nav bar is nice green</p>
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="image-container">
          <img src=" /assets/cat.jpeg" width="400" height="200" alt="Image 3" class="img-fluid" style="box-shadow: 10px 5px 5px black;">
          <p>Raven, is an odd cat, fortunately I like odd cats.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="image-container">
          <img src=" /assets/mcbeast.jpeg" width="400" height="200" alt="Image 3" class="img-fluid" style="box-shadow: 10px 5px 5px darkblue;">
          <p>There are 6 World Champs between me and Paul McBeth. </p>
          <p>I'm sure you can guess how many I have.</p>
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="image-container">
          <img src=" /assets/disc_golf.JPG"  alt="Image 3" class="img-fluid" style="box-shadow: 10px 5px 5px darkolivegreen;">
          <p>Legendary Northwoods Course, home of The Ledgestone Open.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="image-container">
          <img src=" /assets/first_flight.jpeg" alt="Image 3" class="img-fluid" style="box-shadow: 10px 5px 5px lightgreen;">
          <p>First time on an airplane</p>
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="image-container">
          <img src=" /assets/paris.JPG" width="400" height="200" alt="Image 3" class="img-fluid" style="box-shadow: 10px 5px 5px tan;">
          <p>First trip on a commerical airplane</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="image-container">
          <img src=" /assets/cat_tree.jpeg" width="400" height="200" alt="Image 3" class="img-fluid" style="box-shadow: 10px 5px 5px darkslategrey;">
          <p>Raven has the right idea and wrong executions </p>
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="image-container">
          <img src=" /assets/snowy_disc.jpeg" alt="Image 3" class="img-fluid" style="box-shadow: 10px 5px 5px lightblue;" >
          <p>I like to take pictures of cool things!</p>
        </div>
      </div>
    </div>
  </div>
