.container {
    text-align: center;
}

h1 {
    padding-top: .3rem;
    font-size: 1.8rem;;
    margin-bottom: 0;
}
h2 {
    padding-top: .5rem;
    font-size: 1.3rem;
}
h3 {
    font-size:  1rem;
}

p{
    padding-top: .3rem;
}