<div class="container">
    <h2>Projects listed are recent to oldest</h2>
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="image-container"> <!--Mario 2D game --> 
          <img src=" /assets/mario_2D.png" alt="Rip off Mario Game" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="text-container">
          <h1>Currently working on: Mario 2D</h1>
          <p>I wanted to get into C++ game development without using Unity, and after completing a few smaller projects like the Snake game, I continued using SDL for my latest project. This game is still in development, and I have created an Entity Component System to help manage the game's entities. Additionally, I have been getting more comfortable with SDL's memory management and event handling system, which has helped me with sprite handling and collision detection. Currently, my next steps are to implement enemies and work on the tileset, as I am very new to learning pixel art.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="image-container"> <!-- the damn website!!--> 
          <img src="assets/portfolio_website.png" alt="Image 2" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="text-container">
          <h1>Angular15 Portfolio Website</h1>
          <p>I created this website using Angular, one of many different web development technologies out there. The purpose was to showcase my portfolio I have worked on as a programmer, and to learn Angular. The website has a clean design, with easy navigation and responsive layouts, for all devices. I used various Angular components, and used routing. In addition, I used HTML, CSS, and TypeScript for the core functionality, and to create smooth animations, as well as Bootstrap. Overall, Angular was fun to play with and I do have more complex angular projects planned. I hope you find this website informative and enjoyable to explore!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="image-container"> <!--retro snake game --> 
          <img src=" /assets/snake_game.png" alt="Image 3" class="img-fluid style=height: 600px; padding-left: 1rem">
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="text-container">
          <h1>Retro Snake Game</h1>
          <p>I created a retro-style snake game using SDL2 in C++. This was my first real project with SDL2, after experimenting with drawing lines and points on the display. The game follows the classic arcade style where eating apples increases your length, and the objective is to avoid colliding with the corners of the screen or your own body. Developing the game provided excellent practice in implementing a basic collision detection system and adding audio and text to enhance the gaming experience. Even after completion, I find myself playing this game from time to time!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="image-container"> <!--Run Forest Run --> 
          <img src=" /assets/run_forest.png" alt="Image 3" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="text-container">
          <h1>Run Forest Run! Class Project</h1>
          <p>This project was for my Game Development 1 class, where the objective was to create a health-incentivized game. The story follows Little Gumpy, who decided to eat better after being diagnosed with diabetes. The game is an infinite runner style game, where different foods give you more calories, but you must stay under the daily intake limit. This project taught me a lot about game development, and it's the reason I still continue to work on games today. Figuring out how to create a seemingly 'infinite' map was fun, and working on colliders so the food wouldn’t collide with the cars added an extra challenge.
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="image-container"> <!--seals team 6 --> 
          <img src=" /assets/seals.png" alt="Image 3" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="text-container">
          <h1>Senior Project: Counting Seals</h1>
          <p>This was my Senior CS project. The premise was that our client was a contracted researcher for USC, helping count seals during mating season with drones off the coast of California. My specific role was to create a stitched image (we were given hundreds, all at 4K resolution) to increase image processing with our ML algorithm. We estimated that a stitched image reduced processing speeds by about 30%, and the image quality was important to maintain since pups (baby seals) look almost identical to the sand. The image on the left is 179MB! I created the stitching algorithm in Python using the cv2 image library. It was a lot of fun, as I got to work with a client for the first time. Unfortunately, I did not get to see seals up close, but maybe next time! </p>
        </div>
      </div>
    </div>
  </div>
  
