<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex">
            <div class="image-container">
            <img src="/assets/about_me.jpg" alt="Senior Project" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6 d-flex ">
            <div class="text-container">
            <h1>About Me:</h1>
            <p>Hi! I'm Joshua Patino, a recent graduate from Bradley University with a Bachelor's of Science in Computer Science. I created this portfolio website to better understand Angular15 and showcase the projects I work on in my spare time. Feel free to look around and enjoy the cat pictures, as well as the Easter egg hidden on the website. You can find my resume below, along with links to my LinkedIn and Github accounts. I work on a variety of projects, from web development to game development, and I'm always excited for the next challenge. I keep myself motivated to improve my skills and become a more well-rounded programmer. </p>
            <p style="text-align: center;"><em>“Failure makes me work even harder.” - Michael Jordan</em></p>
            <div class="container">
                <div class="center">
                   <button (click)="downloadResume()">Download my Resume</button>
                   <!-- <button (click)="downloadResume()">Download my Resume</button> -->
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


